/* styles.css */

body {
    background-image: url('../images/slide2.jpg'); /* Đường dẫn tới hình nền rừng cây */
    background-size: cover; /* Phủ kín toàn bộ */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-position: center; /* Căn giữa ảnh */
    height: 100vh; /* Chiều cao của body */
    color: #fff; /* Màu chữ mặc định */
}

.green-header {
    background-color: rgba(0, 128, 0, 0.8); /* Màu xanh lá */
}

.text-green {
    color: #28a745; /* Màu xanh lá cho text */
}

.btn-green {
    background-color: #28a745; /* Màu xanh lá cho button */
    color: white;
}

.btn-green:hover {
    background-color: #218838; /* Màu xanh đậm hơn khi hover */
}

.card-header {
    background-color: rgba(0, 128, 0, 0.6); /* Màu nền cho card header */
    color: white; /* Chữ trắng cho card header */
}

/* Thêm style cho label */
label.text-green {
    font-weight: bold; /* Chữ đậm cho label */
    color: #28a745; /* Màu xanh lá cho label */
}

/* Thay đổi màu sắc cho navbar */
.navbar {
    background-color: #003300; /* Màu xanh đậm */
}

/* Thay đổi màu sắc cho footer */
footer {
    background-color: #003300; /* Màu xanh đậm */
    color: #ffffff; /* Màu chữ trắng */
}